################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/AudioControl/.vs/AudioControl/v16
/AudioControl/AudioControlLibrary/obj
/AudioControl/AudioControl_V2/obj

/AudioControl/AudioControlLibrary/bin/Debug
/AudioControl/Debug
/AudioControl/MFCApplication_AudioTest/Debug
