# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/hospAsmInfoService/DesignTimeBuild
/.vs/hospAsmInfoService
/hospAsmInfoService_v1/bin/Debug/net6.0-windows10.0.20348.0
/hospAsmInfoService_v1/obj
